body {
  background-color: #F5F5F5;
}

.left-block-profile {
    border: 2px solid black;
    padding: 10px;
    width: 200px;
    height: 700px;
    float: left;
    background-color: #f2f2f2;
    position: fixed; 
}


.create-item {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  #create_item {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  input[name="name_item"], input[name="description_item"], input[name="category_items"], 
  input[name="phone_user"], input[name="price_item"], 
  input[name="guarantee_period"], textarea[name="description_item"], 
  input[name="amount_item"], input[name="promotion_code"], input[name="amount_users_type"], input[name="at_what_price"],
  input[name="promotion_code_edit"], input[name="at_what_price_edit"], input[name="amount_users_type_edit"], input[name="validity_period_promocode"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #ffffff;
    margin-bottom: 20px;
    resize: none;
  }

  input[type="checkbox"] {
    margin-right: 10px;
  }

  button[name="added_item"] {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  button:hover {
    background-color: #2E8B57;
  }