{% extends 'base.html' %}

{% block title %}
Create item
{% endblock %}

{% block body %}
<form action="/create_item/" method="POST">
    {% csrf_token %}
    
    <label for="posting">Назва товару</label>
    <input type="text" name="name_item" placeholder="Введіть назву товару..." required/>    

    <div class="form-group">        
        <br>
        <label for="posting">Опис товару</label>
        <textarea class="form-control" name="description_item" id="posting" cols="60" rows="6" required></textarea>
        
    </div>
    <br>

    
    <label for="posting">Категорія товару</label>
    <input type="text" name="category_items" placeholder="Введіть категорію товару..." required/>    

    <br>
    <br>

    <label for="posting">Ваш телефон, щоб клієнти могли зв'язатися з вами</label>
    <input type="text" name="phone_user" placeholder="Введіть ваш номер телефону..." required/>    

    <br>
    <br>

    <label for="posting">Ціна товара</label>
    <input type="text" name="price_item" placeholder="Введіть ціну товару..." required/>  

    <br>
    <br>

    <button type="submit">Добавити товар</button>

</form>

{% endblock %}