{% extends 'base.html' %}

{% block title %}Create item{% endblock %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_item.css'%}">
    <script defer src="{% static 'js/create_item_check_marks.js' %}"></script>
{% endblock %}

{% block body %}
<div class="left-block-profile">

  {% for i in seller %}
    <h1>Profile</h1>
    <hr>
    <h2>Login: {{ i.login_user }}</h2>
    <h2>Email: {{ i.email_user }}</h2>
    <h2>ID: {{ i.id }}</h2>

    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="logout_profile" value="my_profile">
      <input type="submit" value="Вийти з профіля">
    </form>

    <br>
    <a href="/my_orders">Подивитися мої замовлення</a>
    <br><br>
    <a href="/orders_my_client">Замолвення моїх клієнтів</a>
    <br><br>
    <a href="/my_profile/edit-profile/">Редагування акаунт</a>
  {% endfor %}

</div>

<div class="create-item">
  <form method="POST">
      {% csrf_token %}
      
      <label for="posting">Назва товару</label>
      <input type="text" name="name_item" placeholder="Введіть назву товару..." required/>    

      <div class="form-group">        
          <br>
          <label for="posting">Опис товару</label>
          <textarea class="form-control" name="description_item" id="posting" cols="60" rows="6" required placeholder="Опишіть ваш товар..."></textarea>
          
      </div>
      <br>
      
      <label for="posting">Категорія товару</label>
      <input type="text" name="category_items" placeholder="Введіть категорію товару..." required/>    

      <br><br>

      <label for="posting">Ваш телефон, щоб клієнти могли зв'язатися з вами</label>
      <input type="number" name="phone_user" placeholder="Введіть ваш номер телефону..." required/>    

      <br><br>

      <label for="posting">Ціна товара</label>
      <input type="number" name="price_item" placeholder="Введіть ціну товару..." required/>  

      <br><br>

      <h1>Статус:</h1>
      <label>В наявності</label>
      <input type="checkbox" name="status_availability" id="status_availability">

      <br>

      <label>Готов к відправке</label>
      <input type="checkbox" id="status_ready">

      <br>
      <h1>Стан:</h1>
      <label>Новий</label>
      <input type="checkbox" name="state_new" id="state_new">

      <br>

      <label>Вживаний</label>
      <input type="checkbox" id="state_used">

      <br><br>
      <h1>Гарантія:</h1>
      <input type="checkbox" id="checkbox_guarantee">
      
      <input type="number" id="guarantee_period" name="guarantee_period" style="display:none;" placeholder="Ведіть дні гарантії">
    
      <br><br>
      
      <button type="submit">Добавити товар</button>
  </form>
</div>
{% endblock %}