{% extends 'base.html' %}

{% block title %}Мої замовлення{% endblock %}

{% block body %}

<h1>Мої замовлення</h1>

<style>
    body {
        background-color: #f5f5f5;
    }

    .block {
        background-color: #ffff;
        width: 200px;
        height: 250px;
        padding: 40px;
        margin: 30px 30px 30px 50px;
        border-radius: 10px;
        display: inline-block;
        cursor: pointer;
      }
</style>

<hr>

{{ not_order_error|safe }}

{% for key, value in show_order_item.items %}
<li>
    <strong>Замовлення № </strong>
    <ul>
        {% for item in value %}
        <div class="block" onclick="window.location.href='/items/{{ item.id }}/{{ item.name_items }}'">
    
            <form method="GET">
                <input type="hidden" name="get_id_order" value="{{ key }}">
                <input type="hidden" name="delete_from_order" value="{{ item.id }}">
                <input type="submit" value="Видалити товар із списку замовлень">
            </form>

            
            <ul>
                <h1>Items</h1>
          
                <h4> {{ item.name_items }} </h4>
                <h4> {{ item.price }} </h4>
            </ul>
        </div>
        {% endfor %}
    </ul>
</li>
{% endfor %}

{% endblock %}