{% extends 'base.html' %}

{% block title %} My profile {% endblock %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/my_profile.css'%}">
{% endblock %}


{% block body %}
<div class="profile" >
    <h1>Profile</h1>
    <hr>
    <h2>Login: {{ login_user }}</h2>
    <h2>Email: {{ email_user }}</h2>
    <h2>ID: {{ id_user }}</h2>

    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="logout_profile" value="my_profile">
        <input type="submit" value="Вийти з профіля">
    </form>

    <br>
    <a href="/create_item">Додати товар</a>
    <br>
    <br>
    <a href="/my_orders">Подивитися мої замовлення</a>
    <br>
    <br>
    <a href="/orders_my_client">Замолвення моїх клієнтів</a>
    <br>
    <br>
    <a href="/my_profile/edit-profile/">Редагування акаунт</a>

</div>


{% for x in myitems %}      
    <div class="block" onclick="window.location.href='/items/{{ x.id }}/{{ x.name_items }}'">
        <ul>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ x.id }}">
                <input type="hidden" name="name_items" value="{{ x.name_items }}">
                <input type="hidden" name="description_items" value="{{ x.description_items }}">
                <input type="hidden" name="category_items" value="{{ x.category_items }}">
                <input type="hidden" name="phone" value="{{ x.phone }}">
                <input type="hidden" name="price" value="{{ x.price }}">
                        
                <input type="submit" value="Edit item">
            </form>
    
            <br>
            <br>

            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ x.id }}">
                <input type="hidden" name="delete_item" value="my_profile">
                <input type="submit" value="Delete post">
            </form>

            <h1>Photo_item</h1>
            <h4> {{ x.name_items }} </h4>
            <h4> {{ x.price }} </h4>
        </ul>
    </div>
{% endfor %}  

{% endblock %}