{% extends 'base.html' %}

{% block title %} My profile {% endblock %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/my_profile.css'%}">
{% endblock %}


{% block body %}

<style>
    a {
      display: inline-block;
      padding: 10px 10px;
      background-color: #4CAF50;
      color: white;
      text-decoration: none;
      border-radius: 4px;
      margin-bottom: 5px;
    }
  
    a:hover {
      background-color: #45a049;
    }
  </style>

{% for user in account %}
    <div class="profile">  
        <img src="/media/{{ user.avatar_user }}" width="200" height="200" alt="Avatar">
      
        <br>
    
        <h2>Login: {{ user.login_user }}</h2>
        <h2>Email: {{ user.email_user }}</h2>
        <h2>ID: {{ user.id }}</h2>

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="logout_profile" value="my_profile">
            <button type="submit">Вийти з профіля</button>
        </form>

        <a href="./create_item/">Створити товар</a>

        <a href="/my_orders">Подивитися мої замовлення</a>

        <a href="/orders_my_client">Замолвення моїх клієнтів</a>

        <a href="/my_profile/edit-profile/">Редагування акаунт</a>

    
        <a href="/my_profile/my-chats/{{ user.id }}">Мої чати</a>
    </div>
{% endfor %}


{% for x in myitems %}      
    <div class="block" onclick="window.location.href='/items/{{ x.id }}/{{ x.name_items }}'">
        <ul>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ x.id }}">
                <input type="hidden" name="name_items_get_edit" value="{{ x.name_items }}">
                <input type="submit" value="Edit item">
            </form>
    
            <br>

            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ x.id }}">
                <input type="hidden" name="delete_item" value="my_profile">
                <input type="submit" value="Delete post">
            </form>
            <br>
            <img src="/media/{{ x.photo }}" width="150" height="150" alt="photo item">
            <h4> {{ x.name_items }} </h4>
            <h4>Кількість: {{ x.amount_item }} </h4>
            {% if x.old_price < x.price or x.old_price == None %}
                <h4> {{ x.price }} </h4>
                
                <h4>Кількість ведених ваших промокодів: {{x.purchaser_type_code|length }}</h4>
            {% else %}
                <h4><s>{{ x.old_price }}</s></h4>
                <h4>Знижка: {{x.discount}}%</h4>
                <h3> {{ x.price }} </h3>
                <h4>Кількість: {{ x.amount_item }} </h4>
            {% endif %}

        </ul>
    </div>

{% endfor %}  
{% endblock %}