{% extends 'base.html' %}

{% block title %}Authorization{% endblock %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sign_in.css'%}">
{% endblock %}

{% block body %}
    <h1 style="display: flex">Увійти в профіль</h1>
    <div class="authorization-form">
        <form action="/sign_in/" method="POST">
            {% csrf_token %}
            {% for msg in messages %}
                <h2 style="color:crimson" class="message">{{msg}}</h2> 
            {% endfor %}
            <label for="login">Логін:</label>
            <input type="text" id="login" name="login" placeholder="Введіть логін..." required/>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Введіть email..." required/>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" placeholder="Введіть пароль..." required/>
            <button type="submit">Увійти</button>
        </form>  
    </div>
{% endblock %}
