.block_sort_cheap {
    background-color: #ffff;
    width: 150px;
    height: 250px;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    display: inline-block; 
    cursor: pointer; 
}

.left_block_filters {
    float: left;
    width: 20%;
    height: 400px;
    background-color: #ffffff;
}

.block_sort_expencive {
    background-color: #ffff;
    width: 150px;
    height: 250px;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    display: inline-block; 
    cursor: pointer;
}


.block_newItem {
    background-color: #ffff;
    width: 150px;
    height: 250px;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    display: inline-block; 
    cursor: pointer; 
}


.block_more_review {
    background-color: #ffff;
    width: 150px;
    height: 250px;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer; 
}

.filter_price {
    background-color: #ffff;
    width: 150px;
    height: 250px;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer; 
}


.block_search_item {
    display: block;
}


.main_block_sort_chp_to_exp {
    display: none;
}

.main_block_sort_exp_to_chp {
    display: none;
}

.main_block_newItem {
    display: none;
}

.main_block_more_review {
    display: none;
}


.main_block_filter_price {
    display: none;
}