{% extends 'base.html' %}

{% block title %}Мої замовлення{% endblock %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/my_orders.css'%}">
{% endblock %}

{% block body %}
<h1>Мої замовлення</h1>
<hr>
{{ not_order_error|safe }}

{% for my_order in search_my_orders %}
    <div class="block-order">        
        <h1 style="font-display: bont;"><b>Статус замовлення: {{my_order.status_order}}</b></h1>
        <ul>
            <h1>Вас звати: {{my_order.client_name}}</h1>
            <h2>Ваши дані замовлення</h2>
            
            {% if my_order.order_amount_use_promotion_code > 0 or None%}
                <h1>Загальна сума замовлення: {{ my_order.order_amount }}</h1>
                <h1>Ціна зі знижкою {{my_order.discount}}%: {{my_order.order_amount_use_promotion_code}}</h1>
            {% endif %}
            
            <li><strong>Номер:</strong> {{ my_order.client_number }}</li>
            <li><strong>Email:</strong> {{my_order.client_email}}</li>
            {% if my_order.payment_upon_receipt == True %}
                <li><strong>Оплата:</strong>При отримані</li>
            {% else %}
                <li><strong>Оплата:</strong>Онлайн</li>
            {% endif %}

            <h2>Отримувач: </h2>
            {% if my_order.I_receiver == True %}
                <h2>Я</h2>
            {% else %}
                <h2>Інша людина</h2>
            {% endif %}

            <h2>Дзвінок:</h2>
            {% if my_order.do_not_call_me_back == True %}
                <h2>Перездвонити</h2>
            {% else %}
                <h2>Не передзванювати</h2>
            {% endif %}

            <br>
            <form method="GET">
                <input type="hidden" name="get_id_order" value="{{ my_order.id }}"/>
                <button type="submit">Подивитися мої замовлені товари</button>
            </form>         
        </ul>
    </div>
{% endfor %}

{% endblock %}