<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>  
    {% load static %}
    {% block link %}{% endblock %}
</head>
<body>
  <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <nav>
        <ul>
          <li><a href="/items">Головна</a></li>
          <li><a href="http://127.0.0.1:8000/my_profile/">Профіль</a></li>
          <button id="button_shopping_cart">Корзина</button>
          
        
          <form action="/items/" method="POST">
            {% csrf_token %}
            <input type="text" name="search_item_field" placeholder="Що ви шукаєте?" required/>    
            <button type="submit">Знайти</button>
          </form>
        </ul> 
    </nav>


    <div id="modal_shopping_cart" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
            <div class="shoping_cart">    
                 
                {% if not save_value_keys %}
                    <h1>Кошик порожній</h1>
                {% else %}
                    {% for i in save_value_keys%}
                        {% for item in i %}
                          <div class="block_shopping_cart" onclick="window.location.href='/items/{{ item.id }}/{{ item.name_items }}'">
                                  <h2>{{item.name_items}}</h2>
                                  <h2>{{item.price}}</h2>
                  
                                  <h2 style="display:none;">{{item.id}}</h2>
                  
                                  <form action="." method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="btn_delete_basket_item" value="{{ item.id }}">
                                    <button type="submit">Видалити з корзини</button>
                                  </form>
                          </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}


                {% if save_value_keys %}
                  <form method="GET" action="/checkout">
                    <input type="hidden" name="order_item" value="{{ item.id }}">
                    <button type="submit">Оформити замовлення</button>
                  </form>
                {% endif %}

          
            </div>
          </div>
      </div>
    </div>
    

    <script>
      const modal = document.getElementById("modal_shopping_cart");
      const button = document.getElementById("button_shopping_cart");
      const span = document.getElementsByClassName("close")[0];
      
      button.onclick = function() {
        modal.style.display = "block";
      }
      
      span.onclick = function() {
        modal.style.display = "none";
      }
      
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>


    <br>
    <br>
    <br>
    <br>
    {% block body %}{% endblock %}
</body>
</html>