{% extends 'base.html' %}

{% block title %}
{{ name_items }}
{% endblock %}

<!-- connect css file for this html -->
{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/item_information.css'%}">
{% endblock %}


{% block body %}
<br>
<br>
<br>

<!-- div "shoping_cart" see only in base - shoping cart -->
<style>
    .shoping_cart {
        display: none;
    }
</style>


<div class="shoping_cart">
        {% block shoping_cart %}
            {% for i in value_keys %}  
                <h2>{{  i|safe  }} </h2>
            {% endfor %}
        {% endblock %}
</div>


<!-- Buttons touch item-->
<!-- Button review for item -->
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="button_reviews" value="item_information">
    <input type="submit" value="Відгуки">
    <span style="font-weight: bold;">{{count_reviews_item}}</span>
</form>

<br>

<!-- Button question for item -->
<form method="POST">
    {% csrf_token %}    
    <input type="hidden" name="button_questions" value="item_information">
    <input type="submit" value="Питання">
    <span style="font-weight: bold;">{{count_questions_item}}</span>
</form>


<div class="block">
    <div class="information-item-block">
        <h1>{{ name_items }}</h1>

        <hr>

        <h1>{{ items_info_price }} ₴</h1>
        <hr>
        <h1>{{ items_info_description }}</h1>

        <!-- Button shoping basket -->
        <form method="POST">
            {% csrf_token %}    
            <input type="hidden" name="btn_shoping_basket" value="shoping_basket">
            <input type="submit" value="Додати в кошик">
        </form>

    </div>
</div>

{% endblock %}