{% extends 'base.html' %}



{% block title %}
{{ name_items }}  
{% endblock %}

<!-- connect css file for this html -->
{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'questions_items.css'%}">
{% endblock %}



<!-- Body html -->
{% block body %}

<h1>NAVBAR</h1>


<style>

    /* Стилі для модального вікна */
    .modal {
        display: none; /* Початково ховаємо вікно */
        position: fixed; /* Фіксована позиція */
        z-index: 1; /* Встановлюємо високий показник зверху */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* Дозволяє прокручувати вміст вікна */
        background-color: rgba(0,0,0,0.4); /* Темне фонове покриття */
    }
    
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Відступ від верху */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* Стилі для кнопки */
  button {
    background-color: #4CAF50; /* Зелений колір кнопки */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  

</style>







<div class="block">
    <div class="information-item-block">
        <h1>{{ name_items }}</h1>
        <hr>

        {% for x in items_info %}   
            <h1>{{ x.price }} ₴</h1>
            <hr>
            <h1>{{ x.description_items }}</h1>
        {% endfor %}  



        <hr>
        <h1>Задайте питання</h1>

        {% for x in items_info %}   
        
            <form action="/items/{{ x.id }}/{{ x.name_items }}/questions" method="POST">
                {% csrf_token %}
                <!-- Get id this item -->
                <input type="hidden" name="id_item_Questions" value="{{ x.id }}">
                
                <h4>Ведіть ваше питання</h4>
                <textarea class="form-control" name="text_Questions" cols="39" rows="6" required></textarea>
        
                <br>
                <br>

                <button type="submit">Добавити питання</button>
            </form>
            

            <!-- Expect error -->
            {% for msg in messages %}
            <h1>Щоб залишити питання або відгук, треба увійти в акаунт</h1> 
            {% endfor %}
            

        {% endfor %}  




    </div>


<br>
<br>
<br>
<br>
<br>
<br>


<!-- My Questions -->
{% for my_Questions in show_my_Questions %}

    <div class="block-my-Questions">
        <h1 style="text-align: center;">Ваше питання</h1>


        <button onclick="openModal()">Редагувати питання</button>
          
        <script>
              function openModal() {
                  document.getElementById("modalEditQuestions").style.display = "block";
                }
                
                function closeModal() {
                  document.getElementById("modalEditQuestions").style.display = "none";
                }              
        </script>
        


        <!-- Delete - my Questions  -->
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="delete_my_Questions" value="delete_Questions">
            <input  type="submit" style="float: right;" value="Delete Questions">
        </form>

        <br>
        <br>    

        
        <h2>{{ my_Questions.login_user_Questions }}</h2>
        <p>{{ my_Questions.date_Questionss }}</p>
        <hr>
        <p>{{ my_Questions.text_Questions }}</p>


    </div>

{% endfor %}

<!-- EDIT FIELD FOR Questios -->
{% for i in items_info %}  
<div id="modalEditQuestions" class="modal">
    <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    {% for my_Questions in show_my_Questions %}   

        <form action="/items/{{ i.id }}/{{ i.name_items }}/questions" method="POST">
            {% csrf_token %}
            <!-- Get id this item -->
            <input type="hidden" name="id_item_Questions" value="{{ my_Questions.id }}">
            
            <h4>Ведіть ваше питання</h4>
            <textarea class="form-control" name="text_Questions_edit" cols="39" rows="6" required>{{ my_Questions.text_Questions }}</textarea>
    
            <br>
            <br>

            <button type="submit">Редагувати та добавити питання</button>
        </form>
        
    {% endfor %} 
<div>
 
{% endfor %}





<!-- See Questionss other users -->
{% for Questions in see_Questionss_this_item %}
    {% if not show_my_Questions|length or Questions.id != show_my_Questions.0.id %}
        <div class="block-Questionss">
            <h2>{{ Questions.login_user_Questions }}</h2>
            <p>{{ Questions.date_Questionss }}</p>
            <hr>
            <p>{{ Questions.text_Questions }}</p>
            <h3>Переваги</h3>
    
            <ul>
              <p>{{ Questions.advantages_item }}</p>
            </ul>
    
            <h3>Не доліки</h3>
    
            <ul>
              <p>{{ Questions.disadvantages_item }}</p>
            </ul>
    
        </div>
    {% endif %}
{% endfor %}




{% endblock %}
