{% extends 'base.html' %}

{% block title %}{{ name_items }}{% endblock %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reviews_items.css'%}">
{% endblock %}

{% block body %}
<div class="block">
    <div class="information-item-block">
        <h1>{{ name_items }}</h1>
        <hr>

        {% for x in items_info %}   
            <h1>{{ x.price }} ₴</h1>
            <hr>
            <h1>{{ x.description_items }}</h1>
        {% endfor %}  
        <hr>
        <h1>Залишити відгук</h1>

        {% for x in items_info %}   
            <form action="/items/{{ x.id }}/{{ x.name_items }}/reviews" method="POST">
                {% csrf_token %}
                <!-- Get id this item -->
                <input type="hidden" name="id_item_review" value="{{ x.id }}">
                

                <h4>Ведіть  опис відгука</h4>
                <input type="text" name="text_review" placeholder="Введіть як вам товар" required/>

                <h4>Ведіть переваги товару</h4>
                <input type="text" name="advantages_item" placeholder="Введіть переваги товару..." required/>
                <h4>Ведіть недоліки товару</h4>
                <br>
                <input type="text" name="disadvantages_item" placeholder="Введіть недоліки товару..." required/>
                <br>
                <br>
                <button type="submit">Добавити</button>
            </form>
            
            {% for msg in messages %}
            <h1>Щоб залишити відгук, треба увійти в акаунт</h1> 
            {% endfor %}
        
        {% endfor %}  
    </div>

<br><br><br><br><br><br>
<!-- My review -->
{% for my_review in show_my_review %}
    <div class="block-my-review">
        <h1 style="text-align: center;">Ваш відгук</h1>

        <button onclick="openModal()">Редагувати відгук</button>
          
        <script>
              function openModal() {
                  document.getElementById("modalEditReview").style.display = "block";
                }
                
                function closeModal() {
                  document.getElementById("modalEditReview").style.display = "none";
                }              
        </script>
        

        {% for i in items_info %}  
            <!-- EDIT FIELD FOR REVIEW -->
            <div id="modalEditReview" class="modal">
                <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                {% for x in show_my_review %}   
            
                    <form action="/items/{{ i.id }}/{{ i.name_items }}/reviews" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id_item_review_edit" value="{{ x.id }}">
                        
                        <h4>Ведіть  опис відгука</h4>
                        <input type="text" name="text_review_edit" value="{{ x.text_review }}" placeholder="Введіть як вам товар" required/>
        
                        <h4>Ведіть переваги товару</h4>
                        <input type="text" name="advantages_item_edit" value="{{ x.advantages_item }}"  placeholder="Введіть переваги товару..." required/>
                        <h4>Ведіть недоліки товару</h4>
                        <br>
                        <input type="text" name="disadvantages_item_edit" value="{{ x.disadvantages_item }}" placeholder="Введіть недоліки товару..." required/>
                        <br>
                        <br>
                        <button type="submit">Готово</button>
                    </form>
            {% endfor %}  
        {% endfor %}
            </div>
        </div>
    
        <!-- Delete - my review  -->
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="delete_my_review" value="delete_review">
            <input  type="submit" style="float: right;" value="Delete review">
        </form>

        <br>
        <br>    

        <h2>{{ my_review.login_user_review }}</h2>
        <p>{{ my_review.date_reviews }}</p>
        <hr>
        <p>{{ my_review.text_review }}</p>
        <h3>Переваги</h3>

        <ul>
        <p>{{ my_review.advantages_item }}</p>
        </ul>

        <h3>Не доліки</h3>

        <ul>
        <p>{{ my_review.disadvantages_item }}</p>
        </ul>
    </div>
{% endfor %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- See reviews other users -->
<div id="all-reviews">
    {% for review in see_reviews_this_item %}
        {% if not show_my_review|length or review.id != show_my_review.0.id %}
            <div class="block-reviews">
                <h2>{{ review.login_user_review }}</h2>
                <p>{{ review.date_reviews }}</p>
                <hr>
                <p>{{ review.text_review }}</p>
                <h3>Переваги</h3>
        
                <ul>
                <p>{{ review.advantages_item }}</p>
                </ul>
        
                <h3>Не доліки</h3>
        
                <ul>
                <p>{{ review.disadvantages_item }}</p>
                </ul>

                <form method="GET">
                    <input type="hidden" name="btn_useful_review" value="{{review.id}}">
                    <button type="submit">Корисний відгук {{review.count_useful_review|length}}</button>
                </form>


                <form method="GET">
                    <input type="hidden" name="btn_not_useful_review" value="{{review.id}}">
                    <button type="submit">Не корисний відгук {{review.count_not_useful_review|length}}</button>
                </form>
            </div>
        {% endif %}
    {% endfor %}
</div>

<script>
    $(document).ready(function() {
        var showMoreBtn = $('#show-more-btn');
        var allReviews = $('#all-reviews');
        var reviews = allReviews.find('.block-reviews');
        var numReviewsToShow = 20;
        var numReviewsShown = numReviewsToShow;
        
        reviews.slice(numReviewsToShow).hide();
        
        showMoreBtn.click(function() {
            reviews.slice(numReviewsShown, numReviewsShown + numReviewsToShow).fadeIn();
            numReviewsShown += numReviewsToShow;
            if (numReviewsShown >= reviews.length) {
                showMoreBtn.hide();
            }
        });
    });
</script>

<button id="show-more-btn">Показати ще</button>

{% endblock %}