{% extends 'base.html' %}

{% block title %}Оформити замовлення{% endblock %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'js/check_marks.js'%}">
    <link rel="stylesheet" href="{% static 'css/checkout.css'%}">
{% endblock %}

{% block body %}
<script defer src="{% static 'js/check_marks.js' %}"></script>

<h1 style="text-align: center">Оформлення замовлення</h1>
<h2 style="text-align: center">Вкажть контактну інформацію</h2>

<form id="form-checkout" method="POST">
    {% csrf_token %}
    <input type="number" name="your_number" placeholder="Ваш телефон" required>
    <input type="text" name="your_name" placeholder="Ім'я" required>
    <input type="text" name="your_surname" placeholder="Прізвище" required>
    <input type="email" name="your_email" placeholder="email" required>
    
    <br><br>

    <h1 style="text-align: center">Замовлення</h1>
    <h2>Загальна сума товарів {{all_sum_items}} ₴</h2>

    {% for i in json_data%}
        <div class="block" onclick="window.location.href='/items/{{ i.id_item }}/{{ i.name_items }}'">
            <ul>
                <h1>Items</h1>
                <h4> {{ i.name_items }} </h4>
                <h4> {{ i.price }} </h4>
            </ul>
        </div>
    {% endfor %}
    
    {% for msg in messages %}
        <h2 style="color:rgb(220, 20, 20); font:bold">{{ msg }}</h2>
    {% endfor %}

    <h2>Я маю промокод</h2>

    <input type="checkbox" id="have_promotion_code">
    <input type="text" name="type_promotion_code" id="type_promotion_code" style="display: none;" placeholder="Ведіть ваш промокод">
    <hr>
    <h1 style="text-align: center">Оплата</h1>
    
    <h3>Оплата при отримані</h3>
    <input type="checkbox" name="payment_upon_receipt" id="payment_upon_receipt_checkbox">

    <h3>Онлайн</h3>
    <input type="checkbox" name="online_payment" id="online_payment_checkbox">

    <h1 style="text-align: center">Отримувач</h1>
        <h3>Я</h3>
        <input type="checkbox" name="I_receiver" id="i_receiver_checkbox">
    
        <h3>Інша людина</h3>
        <input type="checkbox" name="other_person" id="other_person_checkbox">
        
        <h3>Мені не передзванювати</h3>
        <input type="checkbox" name="do_not_call_me_back">
        
    <button type="submit" name="confirm-order">Підтвердити замовлення</button>
</form>
    
{% endblock %}